<div>
  <h5>Login</h5>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input id="usuario" type="text" class="validate" [(ngModel)]="usuario.nome">
      <label class="active" for="usuario">Usuário</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <input id="senha" type="password" class="validate" [(ngModel)]="usuario.senha">
      <label class="active" for="senha">Senha</label>
    </div>
  </div>

  <a class="waves-effect waves-light btn" (click)="fazerLogin()"><i class="material-icons left">send</i>Login</a>
</div>
